/* @font-face {
font-family: 'a';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil6ExtraBold.woff2') format('woff2');
font-style: normal;
}

@font-face {
font-family: 'b';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2') format('woff2');
font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
    font-family: 'Dongle', sans-serif;
    color: #121212ff;
    font-size: 20pt;
}

.description {
    font-weight: 300;
    font-style: italic;
    color: black;
}

h1, h2 {
    margin: 0;
}

.main-title {
    text-align: center;
    line-height: 10px;
}

.sub-title {
    text-align: center;
    line-height: 10px;
}

a {
    border: 1px solid black;
    text-decoration: none;
    text-shadow: 2px 2px 2px skyblue;
}

ul {
    list-style-type: decimal;
}