main article section label {
    color: blue;
}

main article section > input {
    border: 3px solid red;
}

main article section h1 + label {
    color: brown
}

main article div h2 ~ label {
    color: pink;
}