* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #121212;
    text-decoration: none;
}

body {
    margin: 0;
}

.main-header {
    background-color: #121212;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0 22px;
    width: 1024px;
    height: 44px;
    font-size: 12px;
    color: #fafafa;
}

.menu-nav > li {
    display: flex;
    align-items: center;
    padding : 0px 9px;
    height: 100%;
    cursor: pointer;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0 22px;
    width: 1024px;
    height: 52px;
}

.sub-header-right {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
}

.sub-header-title {
    margin: 0;
    font-size: 21px;
}

.sub-header-right a {
    margin: 0 5px;
    padding: 0 5px;
}

.add-container {
    border-top: 1px solid #dbdbdb;
    background-color: #f5f5f7;
    color: #1d1d1d;
}

.advertising-content {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: 980px;
    height: 54px;

    font-size: 14px;
}

.now-shop {
    color: #0066cc;
}

.now-shop:hover {
    text-decoration: underline;
}

.now-shop::after{
    display: inline-block;
    content: ">";
    padding-left: 4.2px;
    text-decoration : none;
}

.product-main {
    height: 1500px;
}

.product-main-title {
    margin: 0 auto;
    padding: 0 22px;
    width: 1024px;
}

.main-title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    margin-top: 50px;
    padding-bottom: 20px;
    height: 90px;


    font-size: 48px;
}

.product-select-list {
    position: sticky;
    top:0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
}

.product-select-button {
    border: 1px solid #d2d2d7;
    width: 141px;
    height: 91px;

    font-size: 17px;
    font-weight: 600;

    background: white;
    cursor: pointer;
}

.product-select-button:nth-of-type(1) {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.product-select-button:nth-last-of-type(1) {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.product-select-list .selected {
    border: 2px solid #0066cc;
}

.product-informations {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 25px;

    font-size: 21px;
}

.product-informations .fa-regular {
    font-size: 26px;   
}

.product-informations div, .product-informations a {
    margin-bottom: 5px;
}

.product-informations a {
    color: #0066cc;
}

.product-informations a:hover{
    text-decoration: underline;
}

.product-list {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    padding-top: 60px;
    width: 980px;

}

.product-container {
    margin-left: 70px;
    border: 1px solid #dbdbdb;
    width: 290px;
    height: 600px;
}

.product-container:nth-of-type(1) {
    margin: 0;
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    overflow: hidden;
}

.product-image-container img {
    width: 280px;
}