* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #121212;
    text-decoration: none;
}

body {
    margin: 0;
}

.main-header {
    background-color: #121212;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0 22px;
    width: 1024px;
    height: 44px;
    font-size: 12px;
    color: #fafafa;
}

.menu-nav > li {
    display: flex;
    align-items: center;
    padding : 0px 9px;
    height: 100%;
    cursor: pointer;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0 22px;
    width: 1024px;
    height: 52px;
}

.sub-header-right {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
}

.sub-header-title {
    margin: 0;
    font-size: 21px;
}

.sub-header-right a {
    margin: 0 5px;
    padding: 0 5px;
}

.add-container {
    border-top: 1px solid #dbdbdb;
    background-color: #f5f5f7;
    color: #1d1d1d;
}

.advertising-content {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: 980px;
    height: 54px;

    font-size: 14px;
}