* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 0px auto;
    padding-top: 60px;
    width: 1200px;
    height: 2000px;
    
    background-color: #fafafa;
}

header {
    position: fixed;
    top: 0;
    width: 1200px;
    height: 60px;
    background-color: black;
    z-index: 999;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    height: 100%;

    list-style-type: none;

    color: white;
    font-weight: 600;
}

li {
    margin: 0px 5px;
    padding: 0px 10px;
    cursor: pointer;

}

.input-box {
    position : relative;
    border-bottom: 2px solid #dbdbdb;
    padding-right: 90px;
    width: 440px;
    height: 47px;
    background-color: white;
}

.email-input {
    border: none;
    outline: none;
    padding: 10px 0px 8px;
    width: 100%;
    height: 100%;
}

.clear-button {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    background-color: #aaa;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: white;

    cursor: pointer;
}